.contenedor-back {
    width: 100%;
    height: 1000px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    background-color: white;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
}

label {
    margin-top: 5px;
    font-size: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;

}

.contenedor-fechas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 10px;
}

.fecha {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.label-fecha {
    display: inline-block;
    flex-direction: row;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    border: none;
}

#fondo-fecha-ingreso {
    border: 1px solid blueviolet;
    border-radius: 5px;
    font-size: 12px;
}

#fondo-fecha-egreso {
    border: 1px solid blueviolet;
    border-radius: 5px;
    font-size: 12px;
}

.enviar {
    width: 40%;
    margin: auto;
    margin-top: 12px;
    background-color: blueviolet;
    border: blueviolet;
    height: 20px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.enviar:hover {
    background-color: gray;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.precio {
    margin-top: 15px;
}

/* Formulario de reserva */

.formulario-registro-de-reserva {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}




.descripcion-ubicacion p {

    font-size: 16px;
    font-weight: 400;
}

.descripcion-ubicacion-lavel {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}



.etiqueta-check {
    margin-bottom: 10px;
}

.valor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

}

.valores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    text-align: end;
}

.caja-precio {
    border: 1px solid blueviolet;
    border-radius: 5px;
    width: 70%;
    height: 15px;
    padding-right: 3px;
    margin-top: 10px;
}

.caja-precio-v {
    border: 1px solid blueviolet;
    border-radius: 5px;
    width: 15vh;
    padding-right: 3px;
}

/* resposividad de formulario de reserva */
@media screen and (max-width: 769px) {
    .contenedor {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    .contenedor-back {
        width: 100%;

    }

    .contenedor-fechas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-right: 10px;

    }

    .fecha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .label-fecha {
        display: flex;
        margin-right: 3px;
        font-size: 12px;
    }

    .servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

    }

    .op {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

    }

    .opr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


}
