/* .container {
    display: flex;
}

.house-container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.house-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.house-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.house-description {
    color: #666;
    margin-bottom: 10px;
}

.house-price {
    font-weight: bold;
    color: #333;
} */
.housesbox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    padding: 0.5% 1% 1% 1%;
    margin-right: 2%;
    border-radius: 3px;
    margin-bottom: 2%;
    margin-left: 1%;
}

.house-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border: 1px solid rgb(193, 193, 193);
    flex-direction: column;
    margin: 1% 1%;
    padding: 1% 0% 1% 0%;
    border-radius: 3px;
}
.house-card img{
    width: 28vw;
    height: 35vh;
    margin-top: 2%;
}
.form-edit {
    width: 100%;
    height: 100%;
}