<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- for header part -->
    <header>

        <div class="logosec">
            <a class="logo" href="/">
                <img src="/img/logo.png" width="50" height="50" alt="Alquileres" />
            </a>
            <div class="bars__menu menuicn">
                <span class="line1__bars-menu"></span>
                <span class="line2__bars-menu"></span>
                <span class="line3__bars-menu"></span>
            </div>
        </div>

        <div class="message">

            <div class="dp">
                <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" class="dpicn" alt="dp">
            </div>
            <a th:if="${session.usuariosession != null}" class="btn btn-primary" href="/logout">Cerrar
                Sesion</a>
        </div>

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <i class="fa-solid fa-square iconos"></i>
                        <h3> Dashboard</h3>
                    </div>

                    <a th:href="@{/usuario/listar/}" class="option2 nav-option">
                        <i class="fa-solid fa-user iconos"></i>
                        <h3> Usuarios</h3>
                    </a>


                    <a th:href="@{/propiedad/listar/}" class="nav-option option3">
                        <i class="fa-solid fa-house iconos"></i>
                        <h3> Propiedades</h3>
                    </a>

                    <a th:href="@{/admin/listarReservas/}" class="nav-option option4">
                        <i class="fa-solid fa-house-user iconos"></i>
                        <h3> Reservas</h3>
                    </a>

                    <a th:href="@{/opinion/listar/}" class="nav-option option4">
                        <i class="fa-solid fa-comment iconos"></i>
                        <h3> Opiniones</h3>
                    </a>

                    <a class="nav-option option4">
                        <i class="fa-solid fa-sheet-plastic iconos"></i>
                        <h3> Reportes</h3>
                    </a>

                </div>
            </nav>
        </div>
        <div class="main">
            <div class="box-container">

                <div class="box box1">
                    <div class="text">
                        <h2 class="topic-heading" th:text="${propietarios}"></h2>
                        <h2 class="topic">Propietarios</h2>
                    </div>

                    <i class="fa-solid fa-user-tie iconos-card"></i>
                </div>

                <div class="box box2">
                    <div class="text">
                        <h2 class="topic-heading" th:text="${clientes}"></h2>
                        <h2 class="topic">Clientes</h2>
                    </div>

                    <i class="fa-solid fa-user-group iconos-card"></i>
                </div>

                <div class="box box3">
                    <div class="text">
                        <h2 class="topic-heading" th:text="${reservas}"></h2>
                        <h2 class="topic">Reservas</h2>
                    </div>

                    <i class="fa-solid fa-house-user iconos-card"></i>
                </div>

                <div class="box box4">
                    <div class="text">
                        <h2 class="topic-heading" th:text="${propiedades}"></h2>
                        <h2 class="topic">Publicaciones</h2>
                    </div>

                    <i class="fa-solid fa-file iconos-card"></i>
                </div>
            </div>

            <div class="report-container">
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <ul class="carousel">
                        <li class="card" th:each="admin : ${admins}">
                            <div class="img"><img th:src="@{/imagen/perfil/__${admin.id}__}" alt="img"
                                    draggable="false"></div>
                            <h2 th:text="${admin.nombre}">Blanche Pearson</h2>
                            <span>Admin</span>
                        </li>
                    </ul>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/dashboard-nav.js"></script>
</body>

</html>