<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/formulario-registro-usuario.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="contenedor-back">
        <div class="contenedor">

            <form class="formulario-registro-de-usuario" th:action="@{/registro}" method="POST" onsubmit="return validarFormulario()" enctype="multipart/form-data">
                <hr>
                <h3 class="titulo">Registro de Usuario</h3>
                <hr>
                <label for="nombre">Nombre:</label>
                <input type="text" class="nombre" name="nombre" required>

                <label for="apellido">Apellido:</label>
                <input type="text" class="apellido" name="apellido" required>

                <label for="alias">Alias:</label>
                <input type="text" class="alias" name="nombreUsuario" required>

                <label for="email">Mail:</label>
                <input type="email" class="email" name="email" placeholder="tumail@gmail.com" required>

                <label for="password">Ingrese una clave</label>
                <input class="password" type="password" name="contrasena" required>
                <p class="p-contraseña">* La contraseña debe tener al menos 6 caracteres, una mayúscula y un carácter
                    especial.</p>

                <label for="password">Confirme la clave</label>
                <input class="password1" type="password" name="password1" required>


                <label for="imagen">Imagen de perfil:</label>
                <input class="imagen" type="file" name="archivo" accept="image/*" required>


                <div class="campo">
                    <label>Seleccione su perfil:</label>
                    <div class="opcion">
                        <input class="radio" type="radio" id="opcion1" name="rol" required>
                        <label for="opcion1">Propietario</label>
                    </div>
                    <div class="opcion">
                        <input class="radio" type="radio" id="opcion2" name="rol" required>
                        <label for="opcion2">Cliente</label>
                    </div>
                </div>
                <input class="enviar" type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <script src="/js/formulario-registro-usuario.js"></script>
</body>
</html>