<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Propiedad</title>
  <link rel="stylesheet" href="/css/formulario-registro-propiedad.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div class="contenedor-back">
    <div class="contenedor">

      <form class="formulario-registro-de-propiedad" th:action="@{/propiedad/registro}" method="POST" enctype="multipart/form-data">
        <hr>
        <h3 class="titulo">Registre su Propiedad</h3>
        <hr>
        
<!--        <input hidden th:value="${id}" name="idPropietario">-->

        <p>Tipo de Propiedad:</p>
        <select id="tipo-de-propiedad" class="tipo-de-propiedad" name="tipoPropiedad"
          onclick="mostrarPrimeraOpcion()" required>
          <option value="" disabled selected>Elija su opción</option>
          <option value="QUINTA">Quinta</option>
          <option value="CASA">Casa</option>
          <option value="CHALET">Chalet</option>
          <option value="QUINCHO">Quincho</option>
          <option value="CABANA">Cabaña</option>
          <option value="SALON">Salon de Fiestas</option>
          <option value="BODEGA">Bodega</option>
          <option value="FINCA">Finca</option>
          <option value="OTROS">Otros</option>
        </select>


        <p>Ubicación:</p>

        <div class="ubicacion">
          <div class="ub">
            <label id="nombre" for="nombre">Nombre:</label>
            <input class="nombre" type="text" name="nombre" required>
          </div>
          <div class="ub">
            <label id="direccion" for="direccion">Dirección:</label>
            <input type="text" class="direccion" name="direccion" required>
          </div>

          <div class="ub">
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" required>
          </div>
          <div class="ub">
            <label id="codigo-postal" for="codigo-postal">C.P:</label>
            <input id="cp" type="text" name="codigoPostal" required>
          </div>
        </div>


        <div class="contenedor-fechas">
          <div class="fecha">
            <label class="label-fecha" for="fecha-ingreso">Fecha de Ingreso: </label>
            <input id="fondo-fecha-ingreso" name="fechaDesde" type="date" required>
          </div>
          <div class="fecha">
            <label class="label-fecha" for="fecha-egreso">Fecha de Egreso: </label>
            <input id="fondo-fecha-egreso" name="fechaHasta" type="date" required>
          </div>
        </div>
        <div class="mail-telefono">
          <div class="myt">
            <label for="telefono">Teléfono:</label>
            <input type="text" placeholder="223-458745" required>
          </div>

          <div class="myt">
            <label for="email">Email:</label>
            <input type="email" placeholder="tumail@gmail.com" required>
          </div>
        </div>

        <p>Subir Imágenes:</p>
        <div class="subir-imagenes">
          <input class="imagen" name="archivo" type="file" accept="image/*" multiple required>
        </div>


        <div class="descripcion">
          <p>Descripción:</p>
          <textarea id="area" cols="40" rows="3" name="descripcion"></textarea>
        </div>

        <!-- Boton de redes sociales -->
        <div class="campo-redes-sociales">
          <label>Redes sociales:</label>
          <div class="opcion-redes">
            <img src="/img/off-button.png" id="switch-img" onclick="toggleRedesSociales()">
          </div>
          <div id="redes-sociales" style="display: none;">
            <p>Ingrese el Link de sus redes sociales</p>
            <div class="opcion-redes">
              <input type="text" id="facebook" name="facebook" placeholder="Facebook">
            </div>
            <div class="opcion-redes">
              <input type="text" id="twitter" name="twitter" placeholder="Twitter">
            </div>
          </div>
        </div>

        <!--  checkBox servicios adicionales -->
        <label>Seleccione servicios adicionales:</label>


        <div class="servicios">


          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Seguridad</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$ <input class="caja-precio" type="number"></label>
            </div>


          </div>

          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">DJ</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$<input class="caja-precio" type="number"></label>
            </div>


          </div>
          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Animación</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$ <input class="caja-precio" type="number"></label>
            </div>


          </div>

          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Asador</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$<input class="caja-precio" type="number"></label>
            </div>


          </div>

          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Bar</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$ <input class="caja-precio" type="number"></label>
            </div>


          </div>

          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Shows</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$<input class="caja-precio" type="number"></label>
            </div>


          </div>
          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Guarderia</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$ <input class="caja-precio" type="number"></label>
            </div>


          </div>

          <div class="op">
            <div class="opr">
              <input class="etiqueta-check" type="checkbox" id="opcion1" name="op1" value="op1" data-precio="">
              <label for="op1">Catering</label>
            </div>
            <div class="opr1">
              <label class="label-opr1" for="">$<input class="caja-precio" type="number"></label>
            </div>


          </div>
          <!-- input de precio por dia y label de total -->

          <div class="valor">
            <div class="valores">
              <label class="label-precios" for="precio-por-dia">Precio por dia: $ </label>
              <label class="label-precios" for=""><input class="caja-precio-v" type="number" required name="precio"></label>
            </div>
<!--            <div class="valores" id="total" id="precio-dia">
              <label id="label-precios-total" class="label-precios" for="precio">Total: $ </label>
              <label class="label-precios-total"></label>
            </div>-->
          </div>


          <input class="enviar" type="submit" value="Enviar">
      </form>

    </div>
  </div>
  <script src="/js/formulario-registro-propiedad.js"></script>
</body>
</html>