<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="/css/dashboard-nav.css">
    <link rel="stylesheet" href="/css/dashboard-nav-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style-listado-usuarios.css">

</head>

<body>

    <!-- for header part -->
    <header>

        <div class="logosec">
            <a class="logo" href="/">
                <img src="/img/logo.png" width="50" height="50" alt="Alquileres" />
            </a>
            <div class="bars__menu menuicn">
                <span class="line1__bars-menu"></span>
                <span class="line2__bars-menu"></span>
                <span class="line3__bars-menu"></span>
            </div>
        </div>

        <div class="message">

            <div class="dp">
                <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" class="dpicn" alt="dp">
            </div>
            <a th:if="${session.usuariosession != null}" class="btn btn-primary" href="/logout">Cerrar
                Sesion</a>
        </div>

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <i class="fa-solid fa-square iconos"></i>
                        <h3> Dashboard</h3>
                    </div>

                    <a th:href="@{/usuario/listar/}" class="option2 nav-option">
                        <i class="fa-solid fa-user iconos"></i>
                        <h3> Usuarios</h3>
                    </a>


                    <a th:href="@{/propiedad/listar/}" class="nav-option option3">
                        <i class="fa-solid fa-house iconos"></i>
                        <h3> Propiedades</h3>
                    </a>

                    <a th:href="@{/admin/listarReservas/}" class="nav-option option4">
                        <i class="fa-solid fa-house-user iconos"></i>
                        <h3> Reservas</h3>
                    </a>

                    <a th:href="@{/opinion/listar/}" class="nav-option option4">
                        <i class="fa-solid fa-comment iconos"></i>
                        <h3> Opiniones</h3>
                    </a>

                    <a class="nav-option option4">
                        <i class="fa-solid fa-sheet-plastic iconos"></i>
                        <h3> Reportes</h3>
                    </a>

                </div>
            </nav>
        </div>
        <div class="main">
            <div class="box-container">
                <form th:action="@{/usuario/listar/nombres}" method="POST">
                    <main class="table">
                        <div th:replace="fragments/successMessage :: div"></div>
                        <section class="table__header">
                            <h1>Tabla de Usuarios</h1>
                            <div class="input-group">
                                <input type="search" placeholder="Ingrese un nombre..." name="nombre">
                                <img src="/img/search.png" alt="">
                            </div>
                        </section>
                        <section class="table__body">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Id </th>
                                        <th> Nombre y Apellido </th>
                                        <th> Email </th>
                                        <th> Rol </th>
                                        <th> Estado </th>
                                        <th> Acciones </th>
                                    </tr>
                                </thead>
                                <tbody th:each="usuario : ${usuarios}">
                                    <tr>
                                        <td th:text="${usuario.id}"> 1 </td>
                                        <td>
                                            <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="">
                                            <span th:text="${usuario.nombre + ' ' + usuario.apellido}"></span>
                                        </td>
                                        <td th:text="${usuario.email}"> </td>
                                        <td th:text="${usuario.rol}"> </td>
                                        <td>
                                            <p th:if="${usuario.estado == true}" class="status delivered">Habilitado
                                            </p>
                                            <p th:if="${usuario.estado == false}" class="status cancelled">
                                                Deshabilitado</p>
                                        </td>
                                        <td>
                                            <a th:if="${session.usuariosession.id != usuario.id}" class="delete-link"
                                                th:href="@{/usuario/eliminar/__${usuario.id}__}">Eliminar</a>
                                            <a th:if="${session.usuariosession.id != usuario.id}" class="cancel-link"
                                                th:href="@{/usuario/cambiarEstado/__${usuario.id}__}">Cambiar
                                                Estado</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </main>
                </form>

            </div>
        </div>
    </div>

    <script src="/js/dashboard-nav.js"></script>
</body>

</html>