<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/vista-admin.css">
        <link rel="stylesheet" href="/css/navbar-responsive.css">
    </head>
    <body style="background: rgb(245, 245, 226);">
        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="container-admin">
            <div>
                <h1 class="m-r">ALQUILERES DE PROPIEDADES</h1>
                <p class="m-b">
                    ¡Bienvenido de vuelta Admin <span th:text="${session.usuariosession.nombre}"></span>!
                </p>
                <div class="img">
                    <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Casa 1" width="215px">
                </div>
                <a href="" class="button">Editar Perfil</a>
            </div>
        </div>
    </body>
</html>
