<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/precompra-info.css">
    <link rel="stylesheet" href="/css/botones.css">
    <link rel="stylesheet" href="/css/navbar-responsive.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav th:replace="fragments/navbar :: nav"></nav>
    <div class="slide-box">
        <div th:each="imagen, iterStat : ${propiedad.fotos}" class="slide fade">
            <div class="numero" th:text="${iterStat.index + 1} + '/' + ${propiedad.fotos.size()}"></div>
            <img th:src="@{/imagen/propiedad/__${imagen.id}__}" alt="Imagen" />
        </div>
        <a class="antes" onclick="moveSlide(-1)">&#10094;</a>
        <a class="despues" onclick="moveSlide(1)">&#10095;</a>
    </div>
    <div class="info">
        <p class="titulo" th:text="${propiedad.nombre}"></p>
        <p class="ubicacion" th:text="${propiedad.localidad + ', '+ propiedad.direccion}"> </span></p>
        <div class="linea">
            <div class="puntuacion" th:text="${propiedad.calificacion + ' estrellas'}">

            </div>
            <div class="compra">
                <p class="precio"><span th:text="${propiedad.precio}"></span> us$/dia</p>
                <a  th:if="${session.usuariosession == null}"
                th:href="@{/login}" class="rent-button">Alquilar</a>
                <a th:href="@{/reserva/registrar/__${propiedad.id}__}" class="rent-button" sec:authorize="hasRole('CLIENTE')">Alquilar</a>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="top-line" ></div>
        <span th:text="${propiedad.descripcion}"></span>
        <br><br>
        <h3>Servicios disponibles:</h3>
        <br>
        <span th:each="servicio : ${propiedad.servicios}">
            <h4 th:text="${servicio.nombre}"></h4>
            <p th:text="${servicio.descripcion}"></p>
            <br>
        </span>
        <div class="bottom-line"></div>
    </div>
    <div class="servicios">
        <p class="heading">servicios</p>
        <div class="top-line"></div>
        <div class="servicios">
            <div class="items">
                <i class='bx bx-bus'></i>
                <p class="servicio-tipo">transporte</p>
            </div>
            <div class="items">
                <i class='bx bx-bus'></i>
                <p class="servicio-tipo">seguridad</p>
            </div>
            <div class="items">
                <i class='bx bxs-music'></i>
                <p class="servicio-tipo">dj</p>
            </div>
            <div class="items">
                <i class='bx bx-bowl-hot'></i>
                <p class="servicio-tipo">catering</p>
            </div>
            <div class="items">
                <i class='bx bx-camera'></i>
                <p class="servicio-tipo">fotografo</p>
            </div>
            <div class="items">
                <i class='bx bx-bus'></i>
                <p class="servicio-tipo">chef</p>
            </div>
            <div class="items">
                <i class='bx bxs-drink'></i>
                <p class="servicio-tipo">bar</p>
            </div>
            <div class="items">
                <i class='bx bxs-hot'></i>
                <p class="servicio-tipo">asador</p>
            </div>

        </div>
        <div class="bottom-line"></div>
    </div>

    
    <div class="comentarios" >
        <p class="heading">Comentarios</p>
        <div class="top-line"></div>
        <div class="comentario" th:each="opinion : ${opiniones}">
            <img class="foto-perfil" src="/img/building.jpg" alt="">
            <div class="mensaje">
                <p class="nombre-perfil" th:text="${opinion.huesped}"></p>
                <p class="comment" th:text="${opinion.comentario}"></p>
            </div>
            <div class="adjuntado">
                <!--hacer un th:each que contenga todas las 
                    imagenes que suban al comentario-->
                <img src="/img/building.jpg" alt="bang">
            </div>
        </div>




    </div>
    <script src="/js/navbar-responsive.js"></script>
    <script src="/js/precompra.js"></script>
    <!--
        servicios:
        transporte,
        seguridad,
        dj
        catering
        fotografo
        chef
        bar
        show
        guarderia
        asador
    -->
</body>

</html>