<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/userInterface.css">
    </head>

    <body>

        <div class="info-casa hidden">
            <div class="info-card" id="wow"></div>
        </div>

        <div class="imagebox">
            <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="Foto de perfil" class="profile-picture">
        </div>
        <div class="infobox">
            <div class="heading">
                <h2 th:text="${usuario.nombre} +' '+${usuario.apellido}"></h2>
                <a th:href="@{/usuario/modificar/__${usuario.id}__}"><img src="/img/edit.svg" alt=""></a>
            </div>
            <div class="info">
                <p th:text="${usuario.email}"></p>
                <p> numero de telefono del usuario</p>
                <div class="social-media">
                    <a href="#"><img src="/img/instagram.svg" alt=""></a>
                    <a href="#"><img src="/img/twitter.svg" alt=""></a>
                </div>        
            </div>
        </div>

        <div class="house-area">
            <p class="tipo-propiedades">reserva/propiedades</p>
            <div class="housesbox">
                <!--el th:each deberia ser de house-card que es la imagen de la carta con la casa-->
                <div class="house-card">
                    <img src="./img/building.jpg" class="info-image">
                    <p class="titulo">nombre de la propiedad</p>
                    <div class="info-datos">
                        <p class="ubicacion">ubicacion de la propiedad</p>
                        <p class="descripcion">descripcion de la casa</p>
                        <p class="fecha"> desde (fecha desde) hasta el (fecha hasta)</p>
                        <div class="email-celu">
                            <div class="email">
                                <img src="/img/mail.svg" class="contact-image" alt="">
                                <p>email del propietario</p>
                            </div>
                            <div class="celu">
                                <img src="/img/phone.svg" class="contact-image" alt="">
                                <p> numero de telefono del propietario</p>
                            </div>
                        </div>
                        <!--BOTON DE CANCELAR RESERVA AGREGAR FUNCIONALIDAD 
                        SI NO SE PUEDE ASI NOMAS USAR TH:ONCLICK-->
                        <button class="cancelar">cancelar</button>
                    </div>
                </div>
            </div>

        </div>

        <script src="/js/userInterface.js"></script>
    </body>

</html>