<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/userInterface.css">
</head>

<body>

    <div class="imagebox">
       <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="Foto de perfil" class="profile-picture">
    </div>
    <div class="infobox">
        <div class="heading">
            <h2 th:text="${usuario.nombre} +' '+${usuario.apellido}"></h2>
            <a th:href="@{/usuario/modificar/__${usuario.id}__}"><img src="/img/edit.svg" alt=""></a>
        </div>
        <div class="info">
            <p th:text="${usuario.email}"></p>
            <p> +54 111 111 1111</p>
            <div class="social-media">
                <a href="#"><img src="/img/instagram.svg" alt=""></a>
            <a href="#"><img src="/img/twitter.svg" alt=""></a>
            </div>        
        </div>
    </div>

        <div th:if="${usuario.rol == T(com.zonaop.alquileres.enumeraciones.Rol).PROPIETARIO}" class="house-area">
        <div class="housesbox">
            <div class="house-card">
                <img src="/img/building.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae autem vel iste,
                    maiores molestias nostrum corrupti? Nesciunt eum ad, temporibus ratione dolorum magnam
                    necessitatibus, veritatis iste quam corporis quis.</p>
            </div>
            <div class="house-card">
                <img src="/img/building.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae autem vel iste,
                    maiores molestias nostrum corrupti? Nesciunt eum ad, temporibus ratione dolorum magnam
                    necessitatibus, veritatis iste quam corporis quis.</p>
            </div>
            <div class="house-card">
                <img src="/img/building.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae autem vel iste,
                    maiores molestias nostrum corrupti? Nesciunt eum ad, temporibus ratione dolorum magnam
                    necessitatibus, veritatis iste quam corporis quis.</p>
            </div>
            <div class="house-card">
                <img src="/img/building.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae autem vel iste,
                    maiores molestias nostrum corrupti? Nesciunt eum ad, temporibus ratione dolorum magnam
                    necessitatibus, veritatis iste quam corporis quis.</p>
            </div>
            <div class="house-card">
                <img src="/img/building.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae autem vel iste,
                    maiores molestias nostrum corrupti? Nesciunt eum ad, temporibus ratione dolorum magnam
                    necessitatibus, veritatis iste quam corporis quis.</p>
            </div>
        </div>
<!--            <div class="housesbox">
        <div th:each="propiedad : ${propiedades}" class="house-card" >
            <img th:src="@{/imagen/__${propiedad.id}__}" alt="Casa 1" class="house-image">
            <h2 class="house-title" th:text="${propiedad.nombre}"></h2>
            <p class="house-date" th:text="'Disponible desde: ' + ${propiedad.fechaDesde} + ' hasta: ' + ${propiedad.fechaHasta}"></p>
            <p class="house-price" th:text="'Precio: $' + ${propiedad.precio}"></p>
            <p class="house-calification" th:text="'Calificación: ' + ${propiedad.calificacion} + '⭐'"></p>
            <div class="contenedor">
                <a href="#" class="btn btn-1">Alquilar</a>
            </div>
        </div>    
        
    </div>-->
        <div class="button-box">
            <button class="change-building">manejo propiedades</button>
        </div>
        
    </div>
</body>

</html>